.contentLogin-form {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleLogin {
  margin-top: 40px;
  margin-bottom: 20px;
}

.input-inputLongoLogin {
  height: 35px;
  width: 400px;
  border: 1px solid #696969;
  border-radius: 6px;
  align-self: center;
  margin-bottom: 15px;
}

.p-inputLongoLogin {

  color: #696969;
  margin-bottom: 5px;
}

.stylelink {
  color: blue;
  font-size: 15px;
}

a:link 
{ 
 text-decoration:none;
}

.btnLogin {
  background-color: #660066;
  color: white;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 10px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid;
  margin-bottom: 15px;
}

.divButtonLogin {
  display: flex;
  justify-content: center;
  width: 61.02vw;
}
.stylelabel {
  font-size: 15px;
  color: #696969;
  margin-top: 15px;
}

span {
  align-self: center;
  color: #F64C75;
  margin-bottom: 10px;
}